* {
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	background-color: #a29bfe;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	background-color: #6c5ce7;
	width: 100%;
}

body .wrapper {
	max-width: 100% !important;
	text-align: center;
}

aside blockquote.blockquote {
	font-weight: normal;
	font-style: italic;
}

article.article p {
	font-style: normal !important;
}

.word {
	position: sticky;
	top: 20px;
	left: 0px;
	width: 100px;
}

.word.first {
	background-color: #55efc4;
}
.word.second {
	background-color: #00cec9;
	left: 100px;
}
.word.third {
	background-color: #ff7675;
	left: 200px;
}
.word.fourth {
	background-color: #ff7675;
	left: 300px;
}
.word.fifth {
	background-color: #e84393;
	left: 400px;
}

.article img + p::first-letter {
	font-size: 2em;
	color: #e84393;
	font-weight: bold;
}

.article:nth-of-type(odd) img {
	float: left;
}
.article:nth-of-type(even) img {
	float: right;
}

.article img {
	min-height: 120px;
}

footer a:hover {
	cursor: default;
}

footer a {
	padding: 2px;
	text-decoration: underline !important;
	color: #fd79a8 !important;
}